@{
    ViewData["Title"] = "Pagina Inicial";
}
@using Microsoft.AspNetCore.Identity
@using GestaoFinancaPessoal.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
    .circle {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        box-sizing: border-box;
        border: solid 10px rgba(255, 255, 255, 0.2);
        border-top-color: #5873FE;
        animation: spin 1s infinite linear;
    }

    @@keyframes bouncy {
        40% {
            height: 40px;
        }

        50% {
            transform: translate(0, 65px);
            height: 34px;
            border-radius: 20px;
        }

        65% {
            height: 40px;
        }
    }

    @@keyframes push {
        50% {
            margin-left: 56px;
        }
    }

    @@keyframes slide {
        50% {
            margin-top: 25px;
        }
    }

    @@keyframes pulse {
        50% {
            border-width: 30px;
        }
    }

    @@keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }

    @@keyframes cross {
        50% {
            margin-left: 60px;
        }
    }
</style>

<form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="">
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <li class="label">Main</li>
                    <li><a onclick="SetURLIframe('Dashboard/Index')"><i class="ti-home"></i> Dashboard </a></li>

                    <li class="label">Apps</li>
                    @*SetURLIframe*@
                    <li><a onclick="SetURLIframe('Conta/Index')"><i class="ti-calendar"></i> Conta </a></li>
                    <li><a onclick="SetURLIframe('Categoria/Index')"><i class="far fa-clipboard"></i> Categoria</a></li>
                    <li><a onclick="SetURLIframe('Lancamento/Index')"><i class="fas fa-folder-plus"></i> Lançamento</a></li>
                    <li><a onclick="SetURLIframe('CPFCNPJ/Index')"><i class="far fa-address-card"></i> Favorecidos/Pagadores</a></li>

                    <li><a onclick="Logout()"><i class="ti-close"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12  ">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown" onclick="CarregarNotificacao()">
                                <i class="ti-bell"></i>
                                <div class="drop-down dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-heading">
                                        <div class="row">
                                            <div class="col-11">
                                                <span class="text-left">Notificações Recentes</span>
                                            </div>
                                            <div class="text-right" onclick="ClickConfig()">
                                                <i class="fa fa-gear"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown-content-body">
                                        <ul id="ulNotificacoes">
                                            <li id="liLoad">
                                                <div class="text-center" style="text-align:center">
                                                    <div class="circle" style="margin: auto;"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <span class="user-avatar">
                                    @UserManager.GetUserName(User)
                                    <i class="ti-angle-down f-s-10"></i>
                                </span>
                                <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-heading">
                                        <span class="text-left">Upgrade Now</span>
                                        <p class="trial-day">30 Days Trail</p>
                                    </div>
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-user"></i>
                                                    <span>Profile</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <i class="ti-email"></i>
                                                    <span>Inbox</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-settings"></i>
                                                    <span>Setting</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <i class="ti-lock"></i>
                                                    <span>Lock Screen</span>
                                                </a>
                                            </li>
                                            <li><a onclick="Logout()"><i class="ti-power-off"></i> Logout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrap">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12">
                <iframe style="width: 100%;height: 86vh;position: relative;" id="iFrameForm" src="@Url.Action("Index", "Dashboard")" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        @Html.Partial("../Notificacao/Configuracao");

    </div>
</form>



@section Scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="~/js/Home/Index.js">
    </script>

    <script>
        document.onloadend = reportWindowSize();
        window.addEventListener('resize', reportWindowSize);
        function reportWindowSize() {

            var windowHeight = window.innerHeight;

            $("#iFrameForm").height(windowHeight - $(".header").height() - 4);
        }


    </script>
}
