@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class=" bg-info pb-5 pt-5" style="height: 100vh">
    <div class="container ">
        <div class="row justify-content-md-center ">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="#">
                            <img src="~/images/icon/logo.png" alt="CoolAdmin">
                        </a>
                    </div>
                    <div class="login-form">
                        <form action="" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="au-input au-input--full" placeholder="joaodasilva@hormail.com" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="au-btn au-btn--block au-btn--green m-b-20">Enviar email</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
