@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="pb-5 pt-5">
    <div class="container mt--8 ">
        <div class="row justify-content-md-center ">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="login-content shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="login-logo">
                        <a href="#">
                            <img src="~/images/icon/logo.png" alt="CoolAdmin">
                        </a>
                    </div>
                    <div class="login-form compact">
                        <form action="" method="post">
                            <div class="container "> 
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Username"></label>
                                <input asp-for="Input.Username" class="au-input au-input--full" placeholder="joao" />
                                <span asp-validation-for="Input.Username " class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="au-input au-input--full" placeholder="********" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="login-checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" tabindex="11" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                                <label>
                                    <a asp-page="./ForgotPassword" tabindex="10">Esqueceu sua senha?</a>
                                </label>
                            </div>

                            <button type="submit" class="btn btn-success au-btn au-btn--block au-btn--green m-b-20" >Entrar</button>
                            <div class="social-login-content">
                                <div class="social-button">
                                    <button class="btn btn-primary au-btn au-btn--block au-btn--blue m-b-20">Logar com facebook</button>
                                    <button class="btn btn-info au-btn au-btn--block au-btn--blue2">Logar com twitter</button>
                                </div>
                            </div>

                        </form>
                        <div class="register-link">
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Criar uma nova Conta</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
